.tabledesign td{
    border-color: #15B1BB;
    border-width: 0.1vh;
    border-top: 0;

}
.tableheaderdesign th{
    text-align: center;
    background-color: lightblue;
    border-color: #15B1BB;
    border-width: 0.1vh;
}
.tabledesign button{
    margin: 0.3vh;
}